[Desktop Entry]
Type=Service
MimeType=text/*;
Actions=copyTextToClipboard
X-KDE-MaxNumberOfUrls=1

[Desktop Action copyTextToClipboard]
Name=Copy Text to Clipboard
Icon=entry-clone
Exec=wl-copy < "%u"

