[Desktop Entry]
Type=Service
MimeType=video/mp4;video/x-matroska
Actions=openSubtitlesDownload

[Desktop Action openSubtitlesDownload]
Name=Download Subtitles
Icon=download
Exec=/home/sintan/.local/bin/OpenSubtitlesDownload.py --gui=kde %U

